selector{
    --speed: 1s;
    animation: none !important;
}
selector > *{
   clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: all var(--speed) ease-in-out;
}
selector.animated > *{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}
